/* line 16, /Users/andrewnam/Documents/websites/Phoenix/app/assets/stylesheets/apply.scss */
.cognito {
  width: 40%;
  margin: 0 auto;
}

/* line 21, /Users/andrewnam/Documents/websites/Phoenix/app/assets/stylesheets/apply.scss */
.application {
  min-height: 785px;
}

/* line 25, /Users/andrewnam/Documents/websites/Phoenix/app/assets/stylesheets/apply.scss */
#c-submit-button {
  position: relative;
  left: 340px;
}
