 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotron {
  background-image: url("/images/PCG_logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 500px;
  text-shadow: #444 0 1px 1px;
  vertical-align: center;
  background-color: #ffffff;
}

.btn.btn-primary {
  margin-top: 10px;
	background-color: #999999;
	border-color: #999999;
}

.btn.btn-primary:hover {
  background-color: #666666;
}

.container {
  background: transparent;
  margin-top: 40px;
}

.container h1 {
	font-size: 60px;
	font-variant: bold;
}

.container-fluid {
  background: white;
}

.carousel-inner {
  display: block;
  margin: auto;
  height: 400px;
}

.item img {
  vertical-align: 50px;
}

.item {
  height: 400px;

}

.carousel-caption {
  margin-bottom: 50px;
}

.carousel-indicators li{
  background-color:#999999;
  border-color: #999999;
}
