/* line 1, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#off {
  background-color: #cccccc;
  margin: 20px;
  height: 100px;
  width: 300px;
}

/* line 7, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#off:hover {
  background-color: #999999;
}

/* line 11, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#off:hover h6 {
  visibility: visible;
}

/* line 15, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#mjr3 {
  margin: 20px;
  text-align: center;
  background-color: #cccccc;
  width: 20%;
  height: 100px;
  margin-left: 30px;
}

/* line 24, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#mjr4 {
  margin: 20px;
  text-align: center;
  background-color: #cccccc;
  width: 25%;
  height: 100px;
  margin-left: 60px;
}

/* line 33, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#who {
  text-align: center;
  background-color: #eeeeee;
  margin: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

/* line 41, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#majors {
  text-align: left;
  background-color: #eeeeee;
  margin: 40px;
  font-family: 'Raleway', sans-serif;
}

/* line 48, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#companies {
  text-align: right;
  background-color: #eeeeee;
  margin: 40px;
  font-family: 'Raleway', sans-serif;
}

/* line 55, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#officers {
  position: relative;
  text-align: center;
  background-color: #eeeeee;
  margin: 40px;
  font-family: 'Raleway', sans-serif;
}

/* line 63, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
.grid {
  margin: 40px;
}

/* line 67, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
.row {
  margin: auto;
}

/* line 70, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#spacer {
  background: transparent;
  margin: 20px;
  height: 100px;
  width: 300px;
}

/* line 77, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
#list {
  width: fit-content;
  margin: auto;
  background-color: #eeeeee;
  margin: 40px;
}

/* line 84, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
h6 {
  visibility: hidden;
}

/* line 88, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
a {
  color: black;
}

/* line 92, /Users/andrewnam/Documents/Phoenix/Phoenix/app/assets/stylesheets/team.scss */
a:hover {
  color: #b30000;
}
