<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
  	<section class="container">
  		<div class="col-md-8">
    		<h1>History</h1>
    		<p> Insert everything.</p>
    	</div>
    	<div class="col-md-4">
    		<img src="/images/berkeley.jpg" height=400 width=400>
    	</div>
    </section>
  </body>
</html>
