<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag  'about', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id='primary-content'>
  	<div id="cont" class="container-fluid">
  		<div class="col-md-4">
    		<img src="/images/berkeley.jpg" height=350 width=350>
    	</div>
  		<div class="col-md-8">
    		<h1>History</h1>
    		<p> Phoenix Consulting Group is a student-run, non-profit consulting group that was founded at the University of California, Berkeley in the Spring of 2016. Our organization is the premier student group that consults for businesses and start-ups that operate in the field of biomedical technology in the Bay Area. The group was founded by students from diverse backgrounds, including business majors and engineering majors, with the common goal of providing a bridge between the biotech industry and UC Berkeley through networking and working closely together.</p>
    	</div>
    </div>
    <div id="cont" class="container-fluid"> 
    	<h1> Our Mission </h1>
    	<p> We believe in the power of hands-on experience working with leading industry professionals to create advancements in the field of biomedical technology. Our mission is to have an impact in industry as well as at UC Berkeley. </p>
    </div>
    <div id="cont" class="container-fluid">
    	<h1> What We Do </h1>
        <p> Each semester, our project teams consisting of four associates and led by a project leader work in close relationship with our clients to develop implementable business strategies. Through a consistent emphasis on professionalism, originality and dedication, Phoenix Consulting Group prepares its project teams to meet and exceed client expectations. </p>
    	<div class = "col-md-4"> 
    		<h3> Investment and Funding </h3>
            <img src="/images/invest.jpg" height=250 width=250/>
    	</div>
    	<div class = "col-md-4"> 
    		<h3> Market Research </h3>
            <img src="/images/market.jpg" height=250 width=250/>
    	</div>
    	<div class = "col-md-4"> 
    		<h3> Operations </h3>
            <img src="/images/operations.jpg" height=250 width=250/>
    	</div>
    	<div class = "col-md-4"> 
    		<h3> Product Development </h3>
            <img src="/images/product.jpg" height=250 width=250/>
    	</div>
    	<div class = "col-md-4"> 
    		<h3> Pricing </h3>
            <img src="/images/pricing.jpg" height=250 width=250/>
    	</div>
    	<div class = "col-md-4"> 
    		<h3> Marketing and Sales </h3>
            <img src="/images/Marketing.jpg" height=250 width=250/>
    	</div>
    </div>
  </body>
</html>
