<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
     <%= stylesheet_link_tag  'apply', media: 'all', 'data-turbolinks-track' => true %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  </head>
  <body id='primary-content'>
  	<div class="jumbotron"> 
 	 <h1> Application Portal</h1>
 	 <p> The application portal is currently closed. Please come back during Fall 2016 to apply!</p>
	</div>
  </body>
</html>
