<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
     <%= stylesheet_link_tag  'apply', media: 'all', 'data-turbolinks-track' => true %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id='primary-content'>
    <div class="jumbotron">
   <h1> Application Portal</h1>
   <p> Application Portal is now closed. Please come back in Spring 2017!</p>
  </div>
     <!--  <div class="application">
        <div class="cognito">
          <script src="https://services.cognitoforms.com/s/kCxuYpQgdE6epjsom-zMyw"></script>
          <script>Cognito.load("forms", { id: "1" });</script>
        </div>
      </div> -->
  </body>
</html>
