<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
     <%= stylesheet_link_tag  'apply', media: 'all', 'data-turbolinks-track' => true %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id='primary-content'>
    <container>
    <img src="/images/pcgflyer.jpg" width=60%/>
  </container>
  	<div class="jumbotron">
 	 <h1> Application Portal</h1>
 	 <p> Application Coming Soon!</p>
	</div>
  </body>
</html>
