<!DOCTYPE html>
<html lang = "en-US">

  <div class ="main">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a class="active" href="/apply">Apply</a></li>
      </ul>
      <h1> Application Portal</h1>
      <p> Coming soon!</p>
    </div>
  </div>
</html>
