<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag  'clients', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id='primary-content'>
  	<div id="cont" class="container-fluid">
  		<div id="clients"  class="col-md-3">
    		<h1> Past and Current Clients </h1>
        <p id="inquire"> For business inquiries, please contact: <a href="mailto:general@phoenixconsulting.solutions">general@phoenixconsulting.solutions</a></p>
    	</div>
    	<div class="col-md-9">
    		<div class = "col-md-6">
          <img src="/images/kiverdi.jpg " width=100%>
        </div>
        <div class = "col-md-6">
          <img src="/images/cellscope.jpg" width=60%>
        </div>
    </div>
  </div>
    <div id="cont" class="container-fluid">
    	<div class = "col-md-9">
    			<img src="/images/logo-asuc.png" height=80 width=150 >
    		</div>
    	<div class="col-md-3">
    		<h1> Our Sponsors </h1>
    	</div>
    </div>
  </body>
</html>
