<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag  'clients', media: 'all', 'data-turbolinks-track' => true %>
  </head>

    <h1> Our Clients </h1>


    <h1> Our Sponsors </h1>

</html>
