<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag  'contact', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<div id="main" class="container-fluid">
    	<h1> Contact us </h1>
    	<div id="inner" class="container-fluid">
    		<p> For general and business inquiries, please contact: <a href="mailto:general@phoenixconsulting.solutions">general@phoenixconsulting.solutions</a></p>
    		<p> For questions about recruiting and applying, please contact: <a href="mailto:recruiting@phoenixconsulting.solutions">recruiting@phoenixconsulting.solutions</a> </p>
    	</div>
	</div>
   </body>
</html>
