<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
  </head>

    <h1> Welcome to Phoenix Consulting</h1>
    <p> Insert everything.</p>
    <a href="/about">About <br></a>
    <!---<img src = 'http://img14.deviantart.net/e794/i/2012/334/a/4/phoenix_final07_by_eedenartwork-d5mohzq.jpg'> --->
    <p> What we do <br></p>
    <p> Phoenix Consulting at Berkeley is made to give consulting advice to biotech companies around the Bay
      Area. We hope to expand to a national breadth.</p>
</html>
