<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag  'team', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  </head>
  <body id='primary-content'>
    <div id="who" class="container-fluid">
    	<h1> Who We Are </h1>
    	<p> We consist of some of the top undergraduates from the University of California, Berkeley. Members come from a diverse fields of study and industry experience, but with the common interest of consulting and propelling the biotech industry forward. </p>
    </div>
    <div id="majors" class="container-fluid">
    	<h1> Fields of Study </h1>
        <div class="row-fluid row-centered">
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Bioengineering </h2>
            </div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Business Administration </h2>
    		</div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Computer Science </h2>
    		</div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Economics </h2>
    		</div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Electrical Engineering </h2>
    		</div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Political Science </h2>
    		</div>
    		<div id="mjr3" class="col-md-3 col-centered">
    			<h2> Statistics </h2>
    		</div>
        </div>
    </div>
    <div id="companies" class="container-fluid">
    	<h1> Professional Success and Careers </h1>
    	<img src="/images/careers.png"/>
    </div>
    <div id="officers" class="container-fluid">
    	<h1> Officers </h1>
            <div class="row-fluid row-centered">
                <div id="jason"  class="col-md-3 col-centered" >
                  <h3> Jason Hou </h3>
                  <h5> External Vice President </h5>
                  <h6> <a href="mailto:EVP@phoenixconsulting.solutions"> EVP@phoenixconsulting.solutions </a> </h6>
                </div>
                <div id="andrew" class="col-md-3 col-centered">
                  <h3> Andrew Nam </h3>
                  <h5> President </h5>
                  <h6> <a href="mailto:president@phoenixconsulting.solutions"> president@phoenixconsulting.solutions</a> </h6>
                </div>
                <div id="eli" class="col-md-3 col-centered" >
                  <h3> Eli Chin </h3>
                  <h5> Internal Vice President </h5>
                  <h6> <a href="mailto:IVP@phoenixconsulting.solutions"> IVP@phoenixconsulting.solutions </a> </h6>
                </div>
                <div id="katya" class="col-md-3 col-centered" >
                  <h3> Katya Yamamoto </h3>
                  <h5> Account Manager </h5>
                  <h6> <a href="mailto:general@phoenixconsulting.solutions"> general@phoenixconsulting.solutions </a> </h6>
                </div>
                <div id="ryan" class="col-md-3 col-centered">
                  <h3> Ryan Jusuf </h3>
                  <h5> Financial Vice President </h5>
                  <h6> <a href="fvp@phoenixconsulting.solutions"> fvp@phoenixconsulting.solutions </a></h6>
                </div>
                <div id="george" class="col-md-3 col-centered">
                  <h3> George Zeng </h3>
                  <h5> Senior Advisor </h5>
                  <h6> <a href="mailto:general@phoenixconsulting.solutions"> general@phoenixconsulting.solutions </a> </h6>
                </div>
  	    		<div id="mahek" class="col-md-3 col-centered">
  	    			<h3> Mahek Modi </h3>
  	    			<h5> Team Leader </h5>
  	    			<h6> <a href="mailto:general@phoenixconsulting.solutions"> general@phoenixconsulting.solutions </a> </h6>
  	    		</div>
  	    		<div id="kelvin" class="col-md-3 col-centered">
  	    			<h3> Kelvin Zhu </h3>
  	    			<h5> Team Leader </h5>
  	    			<h6> <a href="mailto:general@phoenixconsulting.solutions"> general@phoenixconsulting.solutions </a> </h6>
  	    		</div>
                <div id="alex" class="col-md-3 col-centered">
                    <h3> Alex Chan </h3>
                    <h5> Webmaster </h5>
                    <h6> <a href="mailto:general@phoenixconsulting.solutions"> general@phoenixconsulting.solutions </a> </h6>
            </div>
            </div>
    </div>
   </body>
</html>
