#cont {
	padding: 20px;
	margin: 40px;
	background-color: #eeeeee;
}

.col-md-8 {
	text-align: right;
}

.col-md-8 h1 {
	text-align: right;
	font-size: 30px;
}

#cont {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: #dddddd;
}