// .jumbotron {
// 	text-align: center;
// 	height: 500px;
// 	vertical-align: center;
// 	font-family: 'Raleway', sans-serif;
// }

// .jumbotron p {
// 	margin: 60px;
// }
//
// .jumbotron h1{
// 	margin: 40px;
// }

.cognito {
	width: 40%;
	margin: 0 auto;
}

.application {
	min-height : 785px;
}

#c-submit-button {
	position: relative;
	left: 155px;
}
