#cont {
	background-color: #eeeeee;
	padding: 20px;
	margin: 40px;
	min-height: 300px;
	font-family: 'Raleway', sans-serif;
}

#cont h1{
	font-size: 35px;
	vertical-align: middle;
}

.box {
	height: fit-content;
	margin: 0 auto;
}

#inquire {
	margin: 40px;
	color: black;
}

a {
	color: black;
}

p {
	font-size: 18px;
}

h3 {
	font-size: 32px;
}

a:hover {
	color: #b30000;
}