 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotron {
  background-image: url("/images/Icons_Logos/PCG Icon 112pt 062416 v4.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #555;
  height: 500px;
  text-shadow: #444 0 1px 1px;
  vertical-align: center;
  background-color: #eeeeee;
}

.btn.btn-primary {
  margin-top: 10px;
	background-color: #999999;
	border-color: #999999;
}

.btn.btn-primary:hover {
  background-color: #666666;
}

#jmb {
  background: transparent;
  margin-top: 40px;
}

#jmb h1 {
	font-size: 60px;
	font-variant: bold;
}

#jmb p{
  font-variant: bold;
  font-size: 28px;
}

.carousel-inner {
  display: block;
  margin: auto;
  height: 400px;
}

.item img {
  vertical-align: 50px;
}

.item {
  height: 400px;
}

.carousel-inner {
  background-color: #eeeeee;
}

.carousel-caption p {
  font-size: 18px;
}

.carousel-caption {
  margin-bottom: 50px;
}

.carousel-indicators li{
  z-index: -5;
  background-color:#999999;
  border-color: #999999;
}

#grey {
  color:#666666;
}


#white{
  color:#ffffff;
}