 @import "bootstrap-sprockets";
 @import "bootstrap";
 
.jumbotron {
  background: url('/images/PCG_logo.jpeg') no-repeat center center;
  height: 400px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

.btn.btn-primary {
  margin-top: 10px;
	background-color: #999999;
	border-color: #999999;
}

.btn.btn-primary:hover {
  background-color: #666666;
}

.container {
  background: transparent;
  z-index: 20;
}

.container h1 {
	font-size: 60px;
	font-variant: bold;
}

.container-fluid {
  background: white;
}
