 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotron {
  background-image: url("/images/Icons_Logos/PCG Icon 112pt 062416 v4.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 500px;
  text-shadow: #444 0 2px 2px;
  vertical-align: center;
  background-color: #eeeeee;
}

.btn.btn-primary {
  margin-top: 10px;
	background-color: #999999;
	border-color: #999999;
  color: #ffffff;
}

.btn.btn-primary:hover {
  background-color: #666666;
}

#jmb {
  background: transparent;
  margin-top: 40px;
}

#jmb h1 {
	font-size: 3em;
	font-variant: bold;
}

#jmb p{
  font-variant: bold;
  font-size: 2em;
}

.carousel-inner {
  background-color: #ffffff;
  display: block;
  margin: auto;
}

.carousel-inner h3 {

}


.item {
  height: 400px;
}

.carousel-caption p {
  font-size: 18px;
}

.carousel-caption {
  color: #333;
  margin-bottom: 10px;
  text-shadow: #fff 0 0px 0px;
}

.carousel-indicators {
  padding-bottom: 5px;
}

.carousel-indicators li {
  z-index: -5;
  background-color:#999999;
  border-color: #999999;
}
#big img{
  padding-top: 20px;
}

#small img{
  padding-top: 40px;
}

#white {
  color: #fff;
}
