#off {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}
#off:hover {
	background-color: #999999;
}

#off:hover h6{
	visibility: visible;
}

#mjr3 {
	text-align: center;
	background-color: #cccccc;
	margin: 1%;
	padding: 2%;
	height: 100px;
}

#mjr3 h2{
	margin: auto;
	vertical-align: center;
}

#who {
	text-align: center;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

#majors {
	text-align: left;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

#companies {
	text-align: right;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

#companies img{
	height: 100%;
	width: 100%;
	max-width: 1500px;
}

#officers {
	position: relative;
	text-align: center;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

.grid {
	margin: 40px;
}

.row-fluid {
	margin: auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: text-top;
}

#spacer {
	background: transparent;
	margin: 20px;
	height: 100px;
	width: 33%;
}

h6 {
	visibility: hidden;
}

a {
	color: black;
}

a:hover {
	color: #b30000;
}
