#jason {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#jason:hover {
	background-color: transparent;
	background: url('/images/jason.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#jason:hover h6{
	visibility: visible;
}

#jason:hover h3{
	color: white;
	margin-top: 150px;
}

#jason:hover h5{
	color: white;
}

#andrew {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#andrew:hover {
	background-color: transparent;
	background: url('/images/andrew.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#andrew:hover h6{
	font-size: .75em;
	visibility: visible;
}

#andrew:hover h3{
	color: white;
	margin-top: 150px;
}

#andrew:hover h5{
	color: white;
}


#eli {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#eli:hover {
	background-color: transparent;
	background: url('/images/eli.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#eli:hover h6{
	visibility: visible;
}

#eli:hover h3{
	color: white;
	margin-top: 150px;
}


#eli:hover h5{
	color: white;
}

#ryan {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#ryan:hover {
	background-color: transparent;
	background: url('/images/ryan.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#ryan:hover h6{
	visibility: visible;
}

#ryan:hover h3{
	color: white;
	margin-top: 150px;
}

#ryan:hover h5{
	color: white;
}

#mahek {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#mahek:hover {
	background-color: transparent;
	background: url('/images/mahek.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#mahek:hover h6{
	font-size: .8em;
	visibility: visible;
}

#mahek:hover h3{
	color: white;
	margin-top: 150px;
}

#mahek:hover h5{
	color: white;
}

#alex {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#alex:hover {
	background-color: transparent;
	background: url('/images/alex.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#alex:hover h6{
	font-size: .8em;
	visibility: visible;
}

#alex:hover h3{
	color: white;
	margin-top: 150px;
}

#alex:hover h5{
	color: white;
}

#mjr3 {
	text-align: center;
	background-color: #cccccc;
	margin: 1%;
	padding: 2%;
	height: 100px;
}
#kelvin {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#kelvin:hover {
	background-color: transparent;
	background: url('/images/kelvin.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#kelvin:hover h6{
	font-size: .8em;
	visibility: visible;
}

#kelvin:hover h3{
	color: white;
	margin-top: 150px;
}

#kelvin:hover h5{
	color: white;
}

#george {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#george:hover {
	background-color: transparent;
	background: url('/images/george.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#george:hover h6{
	font-size: .8em;
	visibility: visible;
}

#george:hover h3{
	color: white;
	margin-top: 150px;
}

#george:hover h5{
	color: white;
}

#katya {
	background-color: #cccccc;
	margin: 1%;
	height: 125px;
	padding: 1%;
}

#katya:hover {
	background-color: transparent;
	background: url('/images/katya.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 250px;
}

#katya:hover h6{
	font-size: .8em;
	visibility: visible;
}

#katya:hover h3{
	color: white;
	margin-top: 150px;
}

#katya:hover h5{
	color: white;
}

#mjr3 h2{
	font-size: 2em;
	margin: auto;
	vertical-align: center;
}

#who {
	text-align: center;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

#majors {
	text-align: left;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

#companies {
	text-align: right;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

#companies img{
	height: 100%;
	width: 100%;
	max-width: 1500px;
}

#officers {
	position: relative;
	text-align: center;
	background-color: #eeeeee;
	margin: 40px;
	font-family: 'Raleway', sans-serif;
}

.grid {
	margin: 40px;
}

.row-fluid {
	margin: auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: text-top;
}

#spacer {
	background: transparent;
	margin: 20px;
	height: 100px;
	width: 33%;
}

h6 {
	color: white;
	visibility: hidden;
}

a {
	color: white;
}

a:hover {
	color: #b30000;
}
