.col-md-3 {
	background-color: #cccccc;
	margin: 20px;
	height: 100px;
	width: 300px;
}
.col-md-3:hover {
	background-color: #999999;
}

.col-md-3:hover h6{
	visibility: visible;
}

#who {
	text-align: center;
}

#majors {
	text-align: left;
}

#companies {
	text-align: right;
}

#officers {
	position: relative;
	text-align: center;
}

.container {
	background-color: #eeeeee;
	margin: 40px;
}

.grid {
	margin: 40px;
}

.row {
	margin: auto;
}
#spacer {
	background: transparent;
}

#list {
	width: fit-content;
	margin: auto;
}

h6 {
	visibility: hidden;
}

a {
	color: black;
}

a:hover {
	color: #b30000;
}